$close_button_size: 21px

.close
  right: -10px
  top: -10px
  width: $close_button_size
  height: $close_button_size
  opacity: 1
  position: absolute
  background-color: rgba(0, 0, 0, 0.25)
  border-radius: $close_button_size
  cursor: pointer
  &:hover
    opacity: 1
  &:before, &:after
    top: 2px
    left: 10px
    content: ' '
    height: 16px
    width: 2px
    background-color: #ffffff
    position: absolute
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)
