.design_block
  padding: 5px
  // background-color: rgb(223, 222, 220)
  input.text
    width: 100%
    font-size: 110%
    font-weight: normal
    padding: 5px 3px
    // display: inline-block
    clear: both
    // display: block
    


// 実際のデザインとは関係ないUX動作
.design_block
  border: 1px solid rgba(0, 0, 0, 0)
  &:hover
    border: 1px dashed rgb(156, 156, 156)
  &:hover > .close
    opacity: 1
    // transition: opacity .2s ease-out
